<div class="flex justify-center">
  <picture class="absolute -z-[1] top-0 left-0 w-full xl:hidden">
    <img
      src="assets/images/bg-sidebar-mobile.svg"
      alt="background image"
      width="100%"
    />
  </picture>
  <app-stepper [currentStep]="currentStep" class="xl:hidden"></app-stepper>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="absolute top-[100px] rounded-lg bg-neutral-white py-8 px-6 mx-5 xl:flex xl:w-[65%] xl:p-7"
  >
    <app-stepper
      [currentStep]="currentStep"
      class="hidden xl:block absolute xl:ml-8"
    ></app-stepper>
    <picture class="hidden xl:block">
      <img
        src="assets/images/bg-sidebar-desktop.svg"
        alt="background image"
        width="100%"
        class="rounded-lg"
      />
    </picture>

    <div
      class="xl:flex xl:flex-col xl:justify-between xl:mx-auto xl:mt-10 xl:max-w-[450px]"
    >
      <!-- Step 1 -->
      <div *ngIf="currentStep === 1">
        <h2 class="text-2xl mb-2 font-bold xl:text-3xl">Personal info</h2>
        <p class="text-neutral-cool-gray mb-5 xl:mb-8">
          Please provide your name, email address, and phone number.
        </p>
        <div class="flex flex-col gap-1 text-xs">
          <div class="flex justify-between">
            <label class="xl:text-base">Name</label>
            <p
              class="text-primary-strawberry-red font-semibold"
              *ngIf="
                form.controls['name'].invalid &&
                (form.controls['name'].dirty || form.controls['name'].touched)
              "
            >
              This field is required
            </p>
          </div>
          <input
            [ngClass]="{
              'border-primary-strawberry-red':
                form.controls['name'].invalid &&
                (form.controls['name'].dirty || form.controls['name'].touched)
            }"
            formControlName="name"
            class="border border-neutral-light-gray text-primary-marine focus:outline-none focus:border-primary-purplish-blue p-[10px] rounded-md placeholder:font-medium xl:py-4 xl:placeholder:text-lg xl:placeholder:font-normal"
            type="text"
            required
            placeholder="e.g. Stephen King"
          />

          <div class="flex justify-between mt-2 xl:mt-5">
            <label class="xl:text-base">Email Address</label>
            <p
              class="text-primary-strawberry-red font-semibold"
              *ngIf="
                form.controls['email'].invalid &&
                (form.controls['email'].dirty || form.controls['email'].touched)
              "
            >
              This field is required
            </p>
          </div>
          <input
            [ngClass]="{
              'border-primary-strawberry-red':
                form.controls['email'].invalid &&
                (form.controls['email'].dirty || form.controls['email'].touched)
            }"
            formControlName="email"
            class="border border-neutral-light-gray text-primary-marine focus:outline-none focus:border-primary-purplish-blue p-[10px] rounded-md placeholder:font-medium xl:py-4 xl:placeholder:text-lg xl:placeholder:font-normal"
            type="email"
            required
            placeholder="e.g. stephenking@lorem.com"
          />
          <div class="flex justify-between mt-2 xl:mt-5">
            <label class="xl:text-base">Phone Number</label>
            <p
              class="text-primary-strawberry-red font-semibold"
              *ngIf="
                form.controls['phone'].invalid &&
                (form.controls['phone'].dirty || form.controls['phone'].touched)
              "
            >
              This field is required
            </p>
          </div>
          <input
            [ngClass]="{
              'border-primary-strawberry-red':
                form.controls['phone'].invalid &&
                (form.controls['phone'].dirty || form.controls['phone'].touched)
            }"
            formControlName="phone"
            class="border border-neutral-light-gray text-primary-marine focus:outline-none focus:border-primary-purplish-blue p-[10px] rounded-md placeholder:font-medium xl:py-4 xl:placeholder:text-lg xl:placeholder:font-normal"
            type="number"
            required
            placeholder="e.g. +1 234 567 890"
          />
        </div>
      </div>

      <!-- Step 2 -->

      <div *ngIf="currentStep === 2">
        <h2 class="text-2xl font-bold mb-2 xl:text-3xl">Select your plan</h2>
        <p class="text-neutral-cool-gray mb-5 xl:mb-7">
          You have the option of monthly or yearly billing.
        </p>

        <div
          class="flex flex-col gap-3 xl:flex-row xl:justify-evenly xl:gap-[18px]"
        >
          <section
            [ngClass]="{
              'h-24 xl:h-[166px]': billingPeriod === 'yearly'
            }"
            class="checkbox-box relative w-full h-20 xl:w-[128px] xl:h-[150px] flex justify-center items-center transition"
          >
            <input
              name="plan"
              value="arcadePlan"
              type="radio"
              id="arcade"
              class="absolute top-0 left-0 w-full h-20 xl:w-[128px] xl:h-[150px] opacity-0 cursor-pointer"
              formControlName="plan"
            />
            <div
              class="py-4 px-3 flex gap-3 xl:gap-0 xl:content-between xl:grid w-full h-full transition border rounded-md border-neutral-light-gray"
            >
              <img
                src="assets/images/icon-arcade.svg"
                class="self-baseline max-w-[40px] xl:max-w-[50px]"
                alt="arcade icon"
              />
              <div>
                <h4 class="font-medium">Arcade</h4>
                <p class="text-neutral-cool-gray text-sm" id="selectArcade">
                  ${{ arcadePlan }}/{{
                    billingPeriod === "monthly" ? "mo" : "yr"
                  }}
                </p>
                <p *ngIf="billingPeriod === 'yearly'" class="text-xs mt-[2px]">
                  2 months free
                </p>
              </div>
            </div>
          </section>

          <section
            [ngClass]="{ 'h-24 xl:h-[166px]': billingPeriod === 'yearly' }"
            class="checkbox-box relative w-full h-20 xl:w-[128px] xl:h-[150px] flex justify-center items-center transition"
          >
            <input
              name="plan"
              value="advancedPlan"
              type="radio"
              id="advanced"
              class="absolute top-0 left-0 w-full h-20 xl:w-[128px] xl:h-[150px] opacity-0 cursor-pointer"
              formControlName="plan"
            />
            <div
              class="py-4 px-3 flex gap-3 xl:gap-0 xl:content-between xl:grid w-full h-full transition border rounded-md border-neutral-light-gray"
            >
              <img
                src="assets/images/icon-advanced.svg"
                class="self-baseline max-w-[40px] xl:max-w-[50px]"
                alt="advanced icon"
              />
              <div>
                <h4 class="font-medium">Advanced</h4>
                <p class="text-neutral-cool-gray text-sm" id="selectAdvanced">
                  ${{ advancedPlan }}/{{
                    billingPeriod === "monthly" ? "mo" : "yr"
                  }}
                </p>
                <p *ngIf="billingPeriod === 'yearly'" class="text-xs mt-[2px]">
                  2 months free
                </p>
              </div>
            </div>
          </section>

          <section
            [ngClass]="{ 'h-24 xl:h-[166px]': billingPeriod === 'yearly' }"
            class="checkbox-box relative w-full h-20 xl:w-[128px] xl:h-[150px] flex justify-center items-center transition"
          >
            <input
              name="plan"
              value="proPlan"
              type="radio"
              id="pro"
              class="absolute top-0 left-0 w-full h-20 xl:w-[128px] xl:h-[150px] opacity-0 cursor-pointer"
              formControlName="plan"
            />
            <div
              class="py-4 px-3 flex gap-3 xl:gap-0 xl:content-between xl:grid w-full h-full transition border rounded-md border-neutral-light-gray"
            >
              <img
                src="assets/images/icon-pro.svg"
                class="self-baseline max-w-[40px] xl:max-w-[50px]"
                alt="pro icon"
              />
              <div>
                <h4 class="font-medium">Pro</h4>
                <p class="text-neutral-cool-gray text-sm" id="selectPro">
                  ${{ proPlan }}/{{ billingPeriod === "monthly" ? "mo" : "yr" }}
                </p>
                <p *ngIf="billingPeriod === 'yearly'" class="text-xs mt-[2px]">
                  2 months free
                </p>
              </div>
            </div>
          </section>
        </div>

        <div
          class="flex gap-5 justify-center mt-5 text-neutral-cool-gray bg-neutral-alabaster py-3 rounded-lg font-medium text-sm xl:mt-10"
        >
          <p
            [ngClass]="{
              'text-primary-marine': billingPeriod === 'monthly'
            }"
          >
            Monthly
          </p>
          <label class="inline-flex relative items-center cursor-pointer">
            <input
              (change)="changeBillingPeriod()"
              type="checkbox"
              class="sr-only peer"
              formControlName="billingPeriod"
            />
            <div
              class="w-9 h-5 bg-primary-marine peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[3px] after:left-[3px] after:bg-neutral-magnolia after:border-gray-300 after:border after:rounded-full after:h-[14px] after:w-[14px] after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
          </label>
          <p
            [ngClass]="{
              'text-primary-marine': billingPeriod === 'yearly'
            }"
          >
            Yearly
          </p>
        </div>
      </div>

      <!-- Step 3 -->

      <section *ngIf="currentStep === 3" class="xl:min-w-[450px]">
        <h2 class="text-2xl font-bold mb-2 xl:text-3xl">Pick add-ons</h2>
        <p class="text-neutral-cool-gray mb-5 xl:mb-8">
          Add-ons help enhance your gaming experience.
        </p>

        <div class="w-full mt-16 mb-6 xl:relative xl:left-0">
          <article>
            <label class="checkbox-box flex gap-4 items-center">
              <input
                formControlName="onlineService"
                class="relative z-50 left-4 flex justify-center items-center pb-[3px] form-check-input appearance-none h-5 w-5 border border-neutral-light-gray checked:border-primary-purplish-blue rounded-sm bg-neutral-white checked:bg-primary-purplish-blue checked:before:content-link focus:outline-none transition duration-100 cursor-pointer xl:h-4 xl:w-4 xl:left-7"
                type="checkbox"
                value="1"
              />
              <div
                class="flex items-center justify-between absolute left-5 right-5 py-3 pl-[50px] pr-4 border border-neutral-light-gray rounded-lg xl:left-0 xl:w-[450px] xl:py-[18px] xl:pr-7 xl:pl-[62px]"
              >
                <div>
                  <h4 class="text-sm font-medium">Online service</h4>
                  <p class="text-neutral-cool-gray text-xs">
                    Access to multiplayer games
                  </p>
                </div>
                <span class="text-primary-purplish-blue text-xs"
                  >+${{ onlineService }}/{{
                    billingPeriod === "monthly" ? "mo" : "yr"
                  }}</span
                >
              </div>
            </label>
          </article>

          <article class="mt-[54px] xl:mt-[70px]">
            <label class="checkbox-box flex gap-4 items-center">
              <input
                formControlName="storage"
                class="relative z-50 left-4 flex justify-center items-center pb-[3px] form-check-input appearance-none h-5 w-5 border border-neutral-light-gray checked:border-primary-purplish-blue rounded-sm bg-neutral-white checked:bg-primary-purplish-blue checked:before:content-link focus:outline-none transition duration-100 cursor-pointer xl:h-4 xl:w-4 xl:left-7"
                type="checkbox"
                value="2"
              />
              <div
                class="flex items-center justify-between absolute left-5 right-5 py-3 pl-[50px] pr-4 border border-neutral-light-gray rounded-lg xl:left-0 xl:w-[450px] xl:py-[18px] xl:pr-7 xl:pl-[62px]"
              >
                <div>
                  <h4 class="text-sm font-medium">Larger Storage</h4>
                  <p class="text-neutral-cool-gray text-xs">
                    Extra 1TB of cloud save
                  </p>
                </div>

                <span class="text-primary-purplish-blue text-xs"
                  >+${{ storage }}/{{
                    billingPeriod === "monthly" ? "mo" : "yr"
                  }}</span
                >
              </div>
            </label>
          </article>

          <article class="mt-[54px] xl:mt-[70px]">
            <label class="checkbox-box flex gap-4 items-center">
              <input
                formControlName="customProfile"
                class="relative z-50 left-4 flex justify-center items-center pb-[3px] form-check-input appearance-none h-5 w-5 border border-neutral-light-gray checked:border-primary-purplish-blue rounded-sm bg-neutral-white checked:bg-primary-purplish-blue checked:before:content-link focus:outline-none transition duration-100 cursor-pointer xl:h-4 xl:w-4 xl:left-7"
                type="checkbox"
                value="2"
              />
              <div
                class="flex items-center justify-between absolute left-5 right-5 py-3 pl-[50px] pr-4 border border-neutral-light-gray rounded-lg xl:left-0 xl:w-[450px] xl:py-[18px] xl:pr-7 xl:pl-[62px]"
              >
                <div>
                  <h4 class="text-sm font-medium">Customizable Profile</h4>
                  <p class="text-neutral-cool-gray text-xs">
                    Custom theme on your profile
                  </p>
                </div>

                <span class="text-primary-purplish-blue text-xs"
                  >+${{ customProfile }}/{{
                    billingPeriod === "monthly" ? "mo" : "yr"
                  }}</span
                >
              </div>
            </label>
          </article>
        </div>
      </section>

      <!-- Summary -->
      <div *ngIf="currentStep === 4 && !lastPage" class="xl:min-w-[420px]">
        <h2 class="text-2xl font-bold mb-2 xl:text-3xl">Finishing up</h2>
        <p class="text-neutral-cool-gray mb-5 xl:mb-8">
          Double-check everything looks OK before confirming.
        </p>

        <div
          class="bg-neutral-alabaster py-5 px-4 text-sm rounded-lg xl:text-base"
        >
          <div class="flex justify-between items-center">
            <div
              [ngClass]="{
                'mb-3':
                  form.get('onlineService')?.value ||
                  form.get('storage')?.value ||
                  form.get('customProfile')?.value
              }"
            >
              <h4 class="text-primary-marine font-medium">
                {{
                  form.get("plan")?.value === "arcadePlan"
                    ? "Arcade"
                    : form.get("plan")?.value === "advancedPlan"
                    ? "Advanced"
                    : "Pro"
                }}
                ({{ billingPeriod === "monthly" ? "Monthly" : "Yearly" }})
              </h4>
              <a
                href="#"
                type="button"
                class="underline text-neutral-cool-gray hover:text-primary-purplish-blue"
                >Change</a
              >
            </div>
            <p class="text-primary-marine font-bold" id="sumArcade">
              ${{
                form.get("plan")?.value === "arcadePlan"
                  ? arcadePlan
                  : form.get("plan")?.value === "advancedPlan"
                  ? advancedPlan
                  : proPlan
              }}/{{ billingPeriod === "monthly" ? "mo" : "yr" }}
            </p>
          </div>
          <hr
            *ngIf="
              form.get('onlineService')?.value ||
              form.get('storage')?.value ||
              form.get('customProfile')?.value
            "
            class="text-neutral-cool-gray"
          />
          <ul
            [ngClass]="{
              'mt-3':
                form.get('onlineService')?.value ||
                form.get('storage')?.value ||
                form.get('customProfile')?.value
            }"
            class="text-neutral-cool-gray flex flex-col gap-2"
          >
            <li
              *ngIf="form.get('onlineService')?.value"
              class="flex justify-between"
            >
              <p>Online service</p>
              <p class="text-primary-marine" id="sumArcade">
                +${{ onlineService }}/{{
                  billingPeriod === "monthly" ? "mo" : "yr"
                }}
              </p>
            </li>
            <li *ngIf="form.get('storage')?.value" class="flex justify-between">
              <p>Larger storage</p>
              <p class="text-primary-marine" id="sumArcade">
                +${{ storage }}/{{ billingPeriod === "monthly" ? "mo" : "yr" }}
              </p>
            </li>
            <li
              *ngIf="form.get('customProfile')?.value"
              class="flex justify-between"
            >
              <p>Customizable Profile</p>
              <p class="text-primary-marine" id="sumArcade">
                +${{ customProfile }}/{{
                  billingPeriod === "monthly" ? "mo" : "yr"
                }}
              </p>
            </li>
          </ul>
        </div>

        <div class="flex justify-between items-center py-5 px-4">
          <h3 class="text-neutral-cool-gray text-sm xl:text-base">
            Total (per {{ billingPeriod === "monthly" ? "month" : "year" }})
          </h3>

          <p class="text-primary-purplish-blue font-bold xl:text-lg">
            ${{ total }}/{{ billingPeriod === "monthly" ? "mo" : "yr" }}
          </p>
        </div>
      </div>

      <!-- Thank you -->
      <div
        class="flex flex-col py-14 items-center text-center xl:mt-16"
        *ngIf="lastPage"
      >
        <img
          class="w-14 mb-6 xl:w-[84px] xl:mb-8"
          src="assets/images/icon-thank-you.svg"
          alt=""
        />
        <h2 class="text-2xl font-bold mb-2 xl:text-4xl">Thank you!</h2>
        <p class="text-neutral-cool-gray mb-3">
          Thanks for confirming your subscription! We hope you have fun using
          our platform. If you ever need support, please feel free to email us
          at support@loremgaming.com.
        </p>
      </div>

      <div
        *ngIf="!lastPage"
        class="fixed bottom-0 w-screen left-0 p-5 text-base flex justify-between bg-neutral-white xl:relative xl:p-0 xl:mb-5 xl:min-w-[450px] xl:max-w-[450px]"
        [ngClass]="{ 'flex-row-reverse': currentStep === 1 }"
      >
        <button
          *ngIf="currentStep >= 2"
          (click)="changePage(false)"
          type="button"
          class="text-neutral-cool-gray px-3 py-2 rounded hover:text-primary-marine"
        >
          Go Back
        </button>
        <button
          [disabled]="!form.invalid"
          *ngIf="currentStep !== 4"
          (click)="changePage(true)"
          type="button"
          class="bg-primary-marine text-neutral-magnolia px-5 py-2 rounded disabled:bg-neutral-cool-gray hover:bg-opacity-90 xl:px-7 xl:py-3 xl:rounded-lg"
        >
          Next Step
        </button>
        <button
          *ngIf="currentStep === 4"
          type="submit"
          class="bg-primary-purplish-blue text-neutral-magnolia px-6 py-[10px] rounded hover:bg-opacity-90 xl:px-7 xl:py-3 xl:rounded-lg"
        >
          Confirm
        </button>
      </div>
    </div>
  </form>
</div>
