<div class="xl:flex xl:justify-center">
  <picture class="absolute -z-[1] top-0 left-0 xl:hidden">
    <img
      src="assets/images/bg-sidebar-mobile.svg"
      alt="background image"
      width="100%"
    />
  </picture>
  <app-stepper [currentStep]="currentStep" class="xl:hidden"></app-stepper>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="absolute top-24 rounded-lg bg-neutral-white py-8 px-5 mx-5 xl:flex xl:w-[65%] xl:p-7"
  >
    <app-stepper
      [currentStep]="currentStep"
      class="xs:hidden xl:block absolute xl:ml-8"
    ></app-stepper>
    <picture class="xs:hidden xl:block">
      <img
        src="assets/images/bg-sidebar-desktop.svg"
        alt="background image"
        width="100%"
        class="rounded-lg"
      />
    </picture>
    <div class="xl:mx-auto xl:mt-10 xl:max-w-[420px]">
      <!-- Step 1 -->
      <div *ngIf="currentStep === 1">
        <h2 class="text-2xl font-bold">Personal Info</h2>
        <p class="text-neutral-cool-gray">
          Please provide your name, email address, and phone number.
        </p>
        <div class="flex flex-col gap-1 text-xs mt-3">
          <label>Name </label>
          <input
            formControlName="name"
            class="border border-neutral-light-gray text-primary-marine focus:outline-none focus:border-primary-purplish-blue focus:invalid:border-primary-strawberry-red p-2 rounded-md placeholder:font-medium"
            type="text"
            placeholder="e.g. Stephen King"
          />
          <label class="mt-2">Email Address </label>
          <input
            formControlName="email"
            class="border border-neutral-light-gray text-primary-marine focus:outline-none focus:border-primary-purplish-blue focus:invalid:border-primary-strawberry-red p-2 rounded-md placeholder:font-medium"
            type="email"
            placeholder="e.g. stephenking@lorem.com"
          />
          <label class="mt-2">Phone Number </label>
          <input
            formControlName="phone"
            class="border border-neutral-light-gray text-primary-marine focus:outline-none focus:border-primary-purplish-blue focus:invalid:border-primary-strawberry-red p-2 rounded-md placeholder:font-medium"
            type="number"
            placeholder="e.g. +1 234 567 890"
          />
        </div>
      </div>

      <!-- Step 2 -->

      <div *ngIf="currentStep === 2">
        <h2 class="text-2xl font-bold xl:mb-2">Select your plan</h2>
        <p class="text-neutral-cool-gray mb-3 xl:mb-7">
          You have the option of monthly or yearly billing.
        </p>

        <div
          class="flex flex-col gap-3 xl:flex-row xl:justify-evenly xl:gap-[18px]"
        >
          <article class="checkbox-box relative w-[128px] h-[150px]">
            <input
              type="checkbox"
              class="absolute top-0 left-0 w-[128px] h-[150px] opacity-0 cursor-pointer"
            />
            <div
              class="w-full h-full flex justify-center items-center transition"
            >
              <input
                type="checkbox"
                id="arcade"
                class="absolute top-0 left-0 w-[128px] h-[150px] opacity-0 cursor-pointer"
                formControlName="arcade"
              />
              <div
                class="py-4 px-3 content-between grid w-full h-full transition border rounded-md border-neutral-light-gray"
              >
                <img
                  src="assets/images/icon-arcade.svg"
                  class="max-w-[50px]"
                  alt="arcade icon"
                />
                <div>
                  <h4 class="font-semibold">Arcade</h4>
                  <p
                    class="text-neutral-cool-gray text-sm"
                    id="selectArcade"
                    #selectArcade
                  >
                    {{ arcadePlan }}$/{{
                      billingPeriod === "monthly" ? "mo" : "yr"
                    }}
                  </p>
                </div>
              </div>
            </div>
          </article>
          <article class="checkbox-box relative w-[128px] h-[150px]">
            <input
              type="checkbox"
              class="absolute top-0 left-0 w-[128px] h-[150px] opacity-0 cursor-pointer"
            />
            <div
              class="w-full h-full flex justify-center items-center transition"
            >
              <input
                type="checkbox"
                id="arcade"
                class="absolute top-0 left-0 w-[128px] h-[150px] opacity-0 cursor-pointer"
                formControlName="arcade"
              />
              <div
                class="py-4 px-3 content-between grid w-full h-full transition border rounded-md border-neutral-light-gray"
              >
                <img
                  src="assets/images/icon-advanced.svg"
                  class="max-w-[50px]"
                  alt="advanced icon"
                />
                <div>
                  <h4 class="font-semibold">Advanced</h4>
                  <p class="text-neutral-cool-gray text-sm" id="selectAdvanced">
                    {{ advancedPlan }}$/{{
                      billingPeriod === "monthly" ? "mo" : "yr"
                    }}
                  </p>
                </div>
              </div>
            </div>
          </article>
          <article class="checkbox-box relative w-[128px] h-[150px]">
            <input
              type="checkbox"
              class="absolute top-0 left-0 w-[128px] h-[150px] opacity-0 cursor-pointer"
            />
            <div
              class="w-full h-full flex justify-center items-center transition"
            >
              <input
                type="checkbox"
                id="arcade"
                class="absolute top-0 left-0 w-[128px] h-[150px] opacity-0 cursor-pointer"
                formControlName="arcade"
              />
              <div
                class="py-4 px-3 content-between grid w-full h-full transition border rounded-md border-neutral-light-gray"
              >
                <img
                  src="assets/images/icon-pro.svg"
                  class="max-w-[50px]"
                  alt=""
                />
                <div>
                  <h4 class="font-semibold">Pro</h4>
                  <p class="text-neutral-cool-gray text-sm" id="selectPro">
                    {{ proPlan }}$/{{
                      billingPeriod === "monthly" ? "mo" : "yr"
                    }}
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div
          class="flex gap-5 justify-center mt-5 bg-neutral-magnolia py-3 rounded-lg font-medium text-sm xl:mt-10"
        >
          <p>Monthly</p>
          <label class="inline-flex relative items-center cursor-pointer">
            <input
              (change)="changeBillingPeriod()"
              type="checkbox"
              class="sr-only peer"
              formControlName="billingPeriod"
            />
            <div
              class="w-9 h-5 bg-primary-marine peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[3px] after:left-[3px] after:bg-neutral-magnolia after:border-gray-300 after:border after:rounded-full after:h-[14px] after:w-[14px] after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
          </label>
          <p>Yearly</p>
        </div>
      </div>

      <!-- Step 3 -->

      <div *ngIf="currentStep === 3" class="xl:min-w-[420px]">
        <h2 class="text-2xl font-bold xl:mb-2">Pick add-ons</h2>
        <p class="text-neutral-cool-gray mb-3 xl:mb-7">
          Add-ons help enhance your gaming experience.
        </p>

        <div class="relative top-7">
          <label class="checkbox-box" for="online-service">
            <div class="flex gap-4 items-center">
              <input
                formControlName="online-service"
                class="relative z-50 left-4 flex justify-center items-center pb-[3px] form-check-input appearance-none h-5 w-5 border border-neutral-light-gray checked:border-primary-purplish-blue rounded-sm bg-neutral-white checked:bg-primary-purplish-blue checked:before:content-link focus:outline-none transition duration-100 cursor-pointer xl:h-4 xl:w-4"
                type="checkbox"
                id="online-service"
              />
              <div
                class="flex items-center justify-between absolute left-0 w-[420px] py-3 pl-[50px] pr-4 border border-neutral-light-gray rounded-lg"
              >
                <div>
                  <h4>Online service</h4>
                  <p class="text-neutral-cool-gray text-xs">
                    Access to multiplayer games
                  </p>
                </div>
                <span class="text-primary-purplish-blue text-xs"
                  >+${{ onlineService }}/{{
                    billingPeriod === "monthly" ? "mo" : "yr"
                  }}</span
                >
              </div>
            </div>
          </label>
        </div>
      </div>

      <!-- Summary -->
      <div *ngIf="currentStep === 4 && !lastPage" class="xl:min-w-[420px]">
        <h2 class="text-2xl font-bold xl:mb-2">Finishing up</h2>
        <p class="text-neutral-cool-gray mb-3 xl:mb-7">
          Double-check everything looks OK before confirming.
        </p>

        <div class="bg-neutral-magnolia py-5 px-4 text-sm rounded-lg">
          <div class="flex justify-between items-center">
            <div class="mb-3">
              <h4 class="text-primary-marine font-semibold">
                Arcade ({{
                  billingPeriod === "monthly" ? "Monthly" : "Yearly"
                }})
              </h4>
              <a href="#" type="button" class="underline text-neutral-cool-gray"
                >Change</a
              >
            </div>
            <p class="text-primary-marine font-bold" id="sumArcade">$9/mo</p>
          </div>
          <hr class="text-neutral-cool-gray" />
          <ul class="text-neutral-cool-gray mt-3 flex flex-col gap-2">
            <li class="flex justify-between">
              <p>Online service</p>
              <p class="text-primary-marine" id="sumArcade">+$1/mo</p>
            </li>
            <li class="flex justify-between">
              <p>Larger storage</p>
              <p class="text-primary-marine" id="sumArcade">+$2/mo</p>
            </li>
          </ul>
        </div>

        <div class="flex justify-between items-center py-5 px-4">
          <h3 class="text-neutral-cool-gray text-sm">Total (per month)</h3>
          <p class="text-primary-purplish-blue font-bold">+$12/mo</p>
        </div>
      </div>

      <!-- Thank you -->
      <div
        class="flex flex-col items-center text-center xl:mt-32"
        *ngIf="lastPage"
      >
        <img
          class="w-14 mb-4 xl:w-[84px] xl:mb-8"
          src="assets/images/icon-thank-you.svg"
          alt=""
        />
        <h2 class="text-2xl font-bold mb-2 xl:text-4xl">Thank you!</h2>
        <p class="text-neutral-cool-gray mb-3">
          Thanks for confirming your subscription! We hope you have fun using
          our platform. If you ever need support, please feel free to email us
          at support@loremgaming.com.
        </p>
      </div>

      <div
        *ngIf="!lastPage"
        class="fixed bottom-0 w-screen left-0 p-5 xl:absolute xl:p-0 flex xl:bottom-10 xl:left-[395px] justify-between bg-neutral-white xl:min-w-[420px] xl:max-w-[420px]"
        [ngClass]="{ 'flex-row-reverse': currentStep === 1 }"
      >
        <button
          *ngIf="currentStep >= 2"
          (click)="changePage(false)"
          type="button"
          class="text-neutral-cool-gray px-3 py-2 rounded"
        >
          Back
        </button>
        <button
          *ngIf="currentStep !== 4"
          (click)="changePage(true)"
          type="button"
          class="bg-primary-marine text-neutral-magnolia px-3 py-2 rounded"
        >
          Next step
        </button>
        <button
          *ngIf="currentStep === 4"
          type="submit"
          class="bg-primary-purplish-blue text-neutral-magnolia px-3 py-2 rounded"
        >
          Confirm
        </button>
      </div>
    </div>
  </form>
</div>
