app-multistep-form {
  .checkbox-box input[type="checkbox"]:checked ~ div {
    background-color: hsl(217, 100%, 97%);
    border: 1px solid hsl(243, 100%, 62%);
    border-radius: 8px;
    transition: none;
  }
}
